*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color:white;
}

a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}